@charset "UTF-8";
.page-tittle{
    font-weight: bold;
}

.presentation-info a{
    color:black;
    text-decoration: none;
}
.presentation-info:hover{
    flex-shrink: 0;
    object-fit: cover;
    display: block;
    opacity: .5;
}
@media only screen and (max-width:1020px){
.btn {
    width: 30%;
    
}

}