<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>パワフルプロエンジニア</title>
<link rel="shortcut icon" href="../static/favicon.ico" th:href="@{/favicon.ico}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../../static/css/nbase.css" th:href="@{/css/nbase.css}">
<link rel="stylesheet" href="../../static/css/nregist.css" th:href="@{/css/nregist.css}">
<link rel="stylesheet" href="../../static/css/request/request.css" th:href="@{/css/request/request.css}">
<link rel="stylesheet" th:href="@{/css/skill/skill-edit-status.css}">
<link rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/validationEngine.jquery.min.css" type="text/css"/>

<script type="text/javascript" src="../../static/js/lib/jquery-3.3.1.min.js" th:src="@{/js/lib/jquery-3.3.1.min.js}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/languages/jquery.validationEngine-ja.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/jquery.validationEngine.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/js/main.js" th:src="@{/js/main.js}"></script>
<script type="text/javascript" src="js/lib/tooltip.min.js" th:src="@{/js/request/request-status-edit.js}"></script>
<script th:src="@{/js/skill/skill-edit-status-modal.js}"></script>
</head>
<body>
	<!-- header start -->
	<nav th:replace="header::menu"></nav>
	<!-- header end -->
		<form class="edit" id="form-check" action="request.html" th:action="@{/request/status/edit/do}" method="post" th:object="${statusForm}">
			<div class="form-box">
				<h1 class="text-center">ステータス申請内容修正</h1>
				<div class="text-center">
					<span><a href="request-status.html" th:href="@{'/request/status?statusId=' + ${statusData.statusId}}">ステータス詳細にもどる</a></span>&nbsp;
				</div>
				
				<div class="col">
						<br>	
					<div class="request-table-wide">
						<table style="width:100%">
							<tbody class="text-center">
								 <tr>
									<th class="text-center">申請日</th>
									<th class="text-center" sec:authorize="hasRole('ROLE_ADMIN')">申請者名</th>
									<th class="text-center" sec:authorize="hasRole('ROLE_ADMIN')">所属</th>
									<th class="text-center">申請状況</th>
									<th class="text-center">申請者コメント</th>
									<th class="text-center" sec:authorize="!(hasRole('ROLE_ADMIN'))">管理者コメント</th>
								</tr>
								<tr>
									<td th:text="${#temporals.format(statusData.createdAt, 'yyyy年MM月dd日')}">2020年5月5日</td>
									<td th:text="${statusData.creator}" sec:authorize="hasRole('ROLE_ADMIN')">太郎</td>
									<td th:text="${statusData.user.department.name}" sec:authorize="hasRole('ROLE_ADMIN')">WEBアプリケーション開発</td>
									<td th:text="${currentStage}"></td>
									<td class="text-left" th:text="${statusData.userComment}">プログラム→個人でのアプリケーション開発でマスターしています。データベース→ほぼ理解しています。ネットワーク→エンジニアとしての基礎知識はあります。
									OS・ハードウェア・セキュリティ・ミドルウェア→コーティング以外の分野はまだ浅い状態です。</td>
									<td class="text-left" th:text="${statusData.adminComment}" sec:authorize="!(hasRole('ROLE_ADMIN'))" >プログラム→個人でのアプリケーション開発でマスターしています。データベース→ほぼ理解しています。ネットワーク→エンジニアとしての基礎知識はあります。
									OS・ハードウェア・セキュリティ・ミドルウェア→コーティング以外の分野はまだ浅い状態です。</td>
								</tr>
							</tbody>
						</table>
					</div>	
					<br>
				</div>
		
				<div class="rowbox">
					<div class="col">
						<h2>情報端末</h2>
							<div class="contents">
								<label>Main PC</label> 
								<select id="pc" name="usingPc">
									<option th:value="${statusData.usingPc}" th:text="${statusData.usingPc}"></option>
									<option th:unless="${statusData.usingPc == 'Windows'}" value="Windows" >Windows</option>
									<option th:unless="${statusData.usingPc == 'Mac'}" value="Mac">Mac</option>
									<option th:unless="${statusData.usingPc == 'Linux'}" value="Linux">Linux</option>
									<option th:unless="${statusData.usingPc == 'Other'}" value="Other">Other</option>
								</select>
							</div>
							<div class="contents">
								<label>Mobile</label>
								 <select id="mobile" name="usingMobile">
									<option th:value="${statusData.usingMobile}" th:text="${statusData.usingMobile}"></option>
									<option th:unless="${statusData.usingMobile == 'iPhone'}" value="iPhone">iPhone</option>
									<option th:unless="${statusData.usingMobile == 'Android'}" value="Android">Android</option>
									<option th:unless="${statusData.usingMobile == 'Other'}" value="Other">Other</option>
								</select>
							</div>
					</div>
					<div class="col" sec:authorize="hasRole('ROLE_ADMIN')">
						<br>
						<h2>管理者コメント</h2>
						<span>200字以内で入力してください</span>
						<div class="contents">
							<div class="error"><strong th:errors="*{adminComment}"></strong></div>
							<textarea cols="40" class="validate[required]" maxlength="200" rows="4" id="adminComment" name="adminComment" placeholder="管理者からエンジニアへのコメント" th:text="${statusData.adminComment}"></textarea>
						</div>
					</div>
					<div class="col" sec:authorize="!(hasRole('ROLE_ADMIN'))">
						<br>
						<h2>採点理由</h2>
						<span>200字以内で入力してください</span>
						<div class="contents">
							<div class="error"><strong th:errors="*{userComment}"></strong></div>
							<textarea cols="40" class="validate[required]" maxlength="200" rows="4" id="userComment" name="userComment" placeholder="管理者の承認、修正基準となります" th:text="${statusData.userComment}"></textarea>
						</div>
					</div>
			</div>
				
				<div class="rowbox">
					<div class="col">
						<h2>エンジニア技術</h2>
						<span>0～100の数字を入力してください</span>
						<div class="error" ><strong th:errors="*{hadEngineerSkillList}"></strong></div>
						<div class="contents skill-point"  th:each="hadEngineerSkill,status : ${statusData.hadEngineerSkillList}">
							<label class="engineer-skill-name" th:text="${hadEngineerSkill.engineerSkill.name}">プログラミング</label>
							 <input type="hidden" th:name="'hadEngineerSkillList['+${status.index}+'].hadEngineerSkillId'" th:value="${hadEngineerSkill.hadEngineerSkillId}">
							 <input type="hidden" th:name="'hadEngineerSkillList['+${status.index}+'].engineerSkillId'" th:value="${hadEngineerSkill.engineerSkillId}">
							 <input type="hidden" th:name="'hadEngineerSkillList['+${status.index}+'].statusId'" th:value="${hadEngineerSkill.statusId}">
							 <input type="tel" class="engineer-skill-score validate[required,custom[integer],max[100],min[0]]" 
								th:name="'hadEngineerSkillList['+${status.index}+'].score'" th:value="${hadEngineerSkill.score}" maxlength="3" autocomplete="off">
						</div>
					</div>
				</div>
				<div class="rowbox">
					<div class="col">
						<h2>基本スキル</h2>
						<div class="error" ><strong th:errors="*{hadBasicSkillList}"></strong></div>
						<div class="numerical-ability" th:each="hadBasicSkill,status:${statusData.hadBasicSkillList}">
							<label class="basic-skill-name"  th:text="${hadBasicSkill.basicSkill.name}">予知能力</label>  
							<input type="hidden" th:name="'hadBasicSkillList['+${status.index}+'].hadBasicSkillId'" th:value="${hadBasicSkill.hadBasicSkillId}">
							<input type="hidden" th:name="'hadBasicSkillList['+${status.index}+'].statusId'" th:value="${hadBasicSkill.statusId}">
							<input type="hidden" th:name="'hadBasicSkillList['+${status.index}+'].basicSkillId'" th:value="${hadBasicSkill.basicSkillId}">
							<select class="basic-skill-score" th:name="'hadBasicSkillList['+${status.index}+'].score'">
								<option th:each="i : ${#numbers.sequence(1, 5)}" th:text="${i}" th:value="${#strings.toString(i)}" th:selected="${#strings.equals(hadBasicSkill.score, #strings.toString(i))}"></option>
							</select>
						</div>
					</div>
				</div>
	　　　　　　　<!--inputのid,value lavelのfor属性の値は、DBから値をとりfor分で回して決定？  -->
				<div class="col">
					<h2 class="text-center">性格</h2>
					<div class="text-center"><span>1つ以上選択してください</span></div>
					<div class="error" ><strong th:errors="*{personalityIdList}"></strong></div>
					<div id="specialAbility">
						<span th:each="personality,status:${personalityList}">
							<input type="checkbox" th:name="personalityIdList" style="display: none;" class="personality-skill validate[minCheckbox[1]]" th:id="'personality' + ${personality.personalityId}" th:value="${personality.personalityId}">
							<label class="personality-skill" th:for="'personality' + ${personality.personalityId}" th:text="${personality.name}" data-toggle="popover" data-trigger="hover"  data-placement="top" th:data-content="${personality.explanation}">ゲラ</label>
						</span>
					</div>
				</div>
				<div class="col">
					<div class="contents text-center" sec:authorize="hasRole('ROLE_ADMIN')">
						<button type="button" class="btn btn-outline-primary modal-open" data-toggle="modal" data-target="#exampleModal" id="modal-open" data-whatever="approval" >修正して承認</button>
					</div>
					<div class="contents text-center" sec:authorize="!(hasRole('ROLE_ADMIN'))">
						<button type="button" class="btn btn-outline-primary modal-open" data-toggle="modal" data-target="#exampleModal" id="modal-open" data-whatever="application" >修正して申請</button>
					</div>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
	 							<h5 class="modal-title" id="exampleModalCenterTitle">内容確認</h5>
	 							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	   								<span aria-hidden="true">&times;</span>
	 							</button>
							</div>
								<div class="modal-body">
									<div class="confirm">
	 								 	<h5>使用PC：<span id="pc-name"></span></h5>
	    								<h5>使用Mobile：<span id="mobile-name"></span></h5>
	    								<h5 sec:authorize="!(hasRole('ROLE_ADMIN'))">採点理由：<br><span id="user-comment"></span></h5>
	    								<h5 sec:authorize="hasRole('ROLE_ADMIN')">管理者コメント：<br><span id="admin-comment"></span></h5><br>
	    								<h5>エンジニア技術</h5>
	    									<h6 id="engineer-skill-list"></h6>
	    								<br>
	    								<h5>基本スキル</h5>
	    									<h6 id="basic-skill-list"></h6>
	    								<br>
	    								<h5>性格</h5>
	    									<h6 id="personality"></h6>
	  								</div>
	   							<br>
	   							<h5>この内容で<span id=sentense>確定</span>しますか？</h5>
								</div>
								<div class="modal-footer text-right">
		  							<button type="button" class="btn btn-secondary" data-dismiss="modal">戻る</button>
		  							<button type="submit" class="btn btn-primary modal-button" id="done" ><span id="edit"></span>を確定する</button>
								</div>
						</div>
					</div>
				</div>
				<!-- Modal end -->
			</div>
			<input type="hidden" id="stage" name="stage" value="">
			<input type="hidden" name="userId" th:value="${statusData.userId}">
			<input type="hidden" id="status-id" name="statusId" th:value="${statusData.statusId}">
			<input type="hidden" name="version" th:value="${statusData.version}">
		</form>
		<div th:replace="loader::loader"></div>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>