@charset "UTF-8";
html {
	font-size: 12px;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}

.loader {
	position: absolute;
	top: 50%;
	width: 24rem;
	margin-left: -12rem;
}

.container{
	max-width: 100%;	
	margin: 1rem;
}

.title{
	text-align: center;
	font-size: 2rem;
	margin: 0 auto 1.5rem auto;
}

.user-register-form-box {
	font-size: 13px;
	border-radius: 10px;
	padding: 3rem 1rem;
	border: #17a2b8 2px solid;
	margin: 0 auto 10px auto;
	width: 60%
}

.contents label {
	display: inline-block;
	padding: 0.4rem;
	width: 10rem;
	text-align: right;
}

.user-register-form-box select {
	cursor: pointer;
	font-size: 1rem;
	padding: 8px;
	border: #c0c0c02px solid;
}

.contents input[type="password"], .contents input[type="month"], .contents input[type="text"], .contents select{
	padding: 0.6rem;
	width: 50%;
	border: 1px solid #999999;
	border-radius: 4px;
}

#confirm-btn .btn {
	width: 50%;
	margin: 2rem auto 0 auto;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.6rem 1rem;
    border-radius: 8px;
}
