@charset "UTF-8";

.container {
	max-width: 100%;
}

/*
.name{
	background: linear-gradient(180deg, #ceffc8 50%, #9eff92 50%);
	box-shadow: inset 0 0 0 3px rgba(218, 255, 222, 1);
}
*/

.style {
	margin-top: 0.6rem;
	padding: 0.2rem 0.8rem;
	border-radius: 0px;
	border-top: none;
	font-size: 14px;
}

#delete-modal{
	display: inline-block;
}

@media (min-width: 768px){
	.ability-box .abilities{
		display: inline-block;
		vertical-align: top;
	}
}

/*追加部分*/
@media (max-width: 767px){
	.ability-box .abilities{
		margin: 0 auto;
		max-width: 100%;
	}
	
	.point-skill{
		margin: 0 auto;
	}
	
	.tabs{
		display: none;
	}
}

textarea{
	padding: 0.6rem;
    height: 8rem;
    border: #17a2b8 2px solid;
    border-radius: 4px;
}

.special-ability{
	font-weight: bold;
	display: inline-block;
	border-radius: 10px;
}

.special-abilities {
	position: relative;
	margin: 4px 10px;
	padding: 2px 0.33rem;
	width: 12rem;
	font-size: 1.2rem;
	text-align: center;
	line-height: 1.8;
	letter-spacing: 0.14rem;
	border: rgba(23, 162, 184, 0.45) 2px solid;
	background: #eaffff;
	border-radius: 10px;
}

.personality-skill {
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}

.personality-name{
	display: block;
}

.inline-row{
	font-weight: bold;
	display: inline-block;
}
