@charset "UTF-8";

.container {
	max-width: 98%;
}

h1{
    border-bottom: #17a2b8 2px solid;
    display: inline-block;
    font-weight: bold;
	text-align: center
}

#title {
	width: 80%;
}

#content {
	width: 80%;
	height: 200px;
}

input[type="text"] {
	padding: 0.4rem;
	border: #17a2b8 2px solid;
	border-radius: 4px;
}

input[type="number"] {
	padding: 0.35rem;
	width: 5rem;
	border: #17a2b8 2px solid;
	border-radius: 4px;
}

.form-box {
	padding: 1rem 1.4rem;
	border: #17a2b8 2px solid;
	text-align: center;
}

.form-box select {
	padding: 0.1rem;
	cursor: pointer;
	font-size: 1.4rem;
	border: #17a2b8 2px solid;
	width: 5rem;
	border-radius: 4px;
}

input:focus, textarea:focus{
	outline: none;
}

.form {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 4px;
}

.contents label {
	padding: 0.4rem;
	padding: 0 .7em;
	background: #0094D6;
	color: #FFF;
	display: inline-block;
	border-radius: 5px;

}

.contents h5 {
	position: absolute;
	right: 0;
	left: 0;
	top: -0.5em;
	margin-left: 1em;
	text-align: left;
}

.contents textarea {
	padding: 0.6rem;
	width: 20rem;
	height: 8rem;
	border: #17a2b8 2px solid;
	border-radius: 4px;
}

.contents {
    background: #f0ffff;
	padding: 20px;
	border-radius: 10px;
	border: white solid;
	position: relative;
	margin-top: 1em;
}

.names{
	margin-top: 15px;
}

.names-table{
	margin: auto;
	font-size: 1rem;
	font-weight: bold;
}

td{
	padding: 6px 0px;
}

#presenter-message{
	padding: 5px;
	font-size: 1rem;
	font-weight: bold;
	color: rgb(162, 35, 35);
}

.btn {
	font-size: 1.2rem;
	font-weight: bold;
	padding: 0.6rem 1.6rem;
	border-radius: 8px;
	margin: 1% 0 1% 0;
}

.btn-blue {
	color: #ffffff;
	background: #1669CD;
}

.under-buttons {
	grid-column-start: 1;
	grid-column-end: 3;
	margin-top: 15px;
}
#search-button, .btn-box{
	background-color: white;
}

.under-buttons .btn{
	font-size: 1.4rem;
}

.save-btn{
	text-align:right;
}

.btn-box {
	border: #17a2b8 2px solid;
	margin: 0px 8px;
}

input[type="file"] {
	margin: 0.2rem;
}

.file-btn{
	margin-left: 40%;
}

.document{
	height: min-content;
}

.edit-schedule{
	height: min-content;
}

#userNameList td {
	padding-right: 15px;
}

/* モーダル */
.modal-search-title{
    margin: auto;
    font-weight: bold;
    font-size: 1.5rem;
	border-radius:0%;
	border-bottom:0ch;
}

#userNameList{
margin: auto;
}

.modal-search-content{
	margin-left: 50px;
}

.modal-search-content td{
	text-align: left;
	font-weight: bold;
    font-size: 1rem;
}

.modal-search-content td:nth-child(1){
	width: 200px;
}
.modal-search-content td:nth-child(2){
	width: 300px;
}
.modal-search-content td:nth-child(3){
	width: 100px;
}

