@charset "UTF-8";


.container {
	max-width: 100%;
}

.row {
    margin-right: 0px; 
    margin-left: 0px; 
}

.style {
    margin-top: 0.6rem;
    padding: 0.2rem 0.8rem;
    border-radius: 0px;
    border-top: none;
    font-size: 14px;
}


.technical-box .abilities {
	text-align: left;
}

.technical-ability {
	position: relative;
	display: inline-block;
	margin: 4px 10px;
	padding: 2px 0.33rem;
	width: 22rem;
	font-size: 1.2rem;
	text-align: center;
	line-height: 1.8;
	letter-spacing: 0.14rem;

	color: #ab5d0f;
	border: #de7812 2px solid;
	background: #fae3cd;
}


